@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    letter-spacing: -0.031rem;
}

.general-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 1rem;
}

.google-deepmind-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
}

.video-background-container{
    width: 100%;
    position: relative;
    min-height: 100vh;
    padding: 0.7rem 0.7rem 14rem 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 2rem;
    /* z-index: 1; */
    overflow: hidden;
}

.video-background{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    /* z-index: -1; */
    /* overflow: hidden; */
}

.video-background video{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    overflow: hidden;
}

.header-container-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    text-align: center;
}

.logo-and-menu-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 2rem;
}

.logo-google-container{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 0.4rem;
    padding: 1rem;
    border-radius: 0.3rem;
}

.logo-google-container:hover{
    background-color: rgba(245, 245, 245, 0.068);
}

.google-container, .deepmind-container, .menu, .icon{
    width: fit-content;
    height: auto;
}

.google-container p, .deepmind-container p{
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}

.menus-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 0rem;
}

.menu-links{
    text-decoration: none;
    color: black;
}

.menu-and-icon-container{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 0.6rem;
    padding: 1rem;
    border-radius: 0.3rem;
}

.menu-and-icon-container:hover{
    background-color: rgba(245, 245, 245, 0.068);
}

.menu{
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

.icon i{
    color: white;
}

.right-icons-container{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 1rem;
}

.icon-links{
    text-decoration: none;
    color: black;
    padding: 1rem;
    border-radius: 0.3rem;
}

.icon-links:hover{
   background-color: rgba(245, 245, 245, 0.068);
}

.headline-bodycopy-button-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 9rem;
    row-gap: 1.7rem;
    z-index: 1;
}

.headline-bodycopy-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.veo-container{
    width: fit-content;
    height: auto;
}

.veo-container h1{
    color: white;
    font-size: 8rem;
    font-weight: 400;
}

/* .words-container{
    width: 100%;
    height: auto;
} */

.words-container p{
    color: white;
    font-size: 1.9rem;
    font-weight: 400;
    text-align: center;
}

.button-container{
    width: fit-content;
    height: auto;
    cursor: pointer;
    transition: all 1s;
}

.button-container:hover{
    color: rgb(18, 71, 157);
    border: 1.5px solid rgb(18, 71, 157);
}

.button-container button{
    background-color: white;
    color: rgb(45, 114, 223);
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: -0.009999rem;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    border-radius: 1.5rem;
    border: 1.5px solid #a8a8a8;
    cursor: pointer;
    transition: color 0.3s ease;
    outline: none;
}

button:hover{
    background-color: white;
    color: rgb(18, 71, 157);
    border: 1.5px solid rgb(18, 71, 157);
}

.second-container-section{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 6rem;
}

.upper-part-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 5rem;
    padding: 8rem 5rem 5rem 5rem;
}

.latest-news-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 0 4rem 0; */
}

.latest-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 0.7rem;
}

.latest-container h1{
    font-size: 2.6rem;
    color: rgb(62, 62, 62);
    font-weight: 400;
}

.latest-container p{
    font-size: 1.2rem;
    color: #7e7e7e;
    font-weight: 400;
}

.btn-container{
    width: fit-content;
    height: auto;
    cursor: pointer;
    transition: all 1s;
}

.btn-container button{
    background-color: white;
    color: rgb(45, 114, 223);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 1.1rem;
    border-radius: 5rem;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    outline: none;
    white-space: nowrap;
}

.btn-container button:hover{
    background-color: rgba(212, 231, 253, 0.276);
    color: rgb(18, 71, 157);
    border: none;
}

.cards-section-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    column-gap: 3rem;
}

.thumbnailOne-container, .thumbnailTri-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1.7rem;
    border: 1px solid rgba(168, 168, 168, 0.436);
    border-radius: 0.5rem;
    background-color: white;
}

.thumbnailTwo-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1.7rem;
    border: 1px solid rgba(168, 168, 168, 0.436);
    border-radius: 0.5rem;
    background-color: white;
}

.thumbnailTwo-container:hover{
    box-shadow: 1px 1px 2.5px rgba(52, 52, 52, 0.347);
    cursor: pointer;
}

.thumbnailTri-container:hover{
    box-shadow: 1px 1px 2.5px rgba(52, 52, 52, 0.347);
    cursor: pointer;
}

.thumbnailOne-container:hover{
    box-shadow: 1px 1px 2.5px rgba(52, 52, 52, 0.347);
    cursor: pointer;
}

.image-container{
    width: 100%;
    height: auto;
    background-image: url(./google/cat.webp);
    padding: 6rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.5rem 0.5rem 0 0;
}

.imageTwo-container{
    width: 100%;
    height: auto;
    background-image: url(./google/tech.webp);
    padding: 6rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.5rem 0.5rem 0 0;
}

.imageTri-container{
    width: 100%;
    height: auto;
    background-image: url(./google/key.webp);
    padding: 6rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.5rem 0.5rem 0 0;
}

.bottom-contents-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 0.6rem;
    padding: 0 1.5rem 0 1.5rem;
}

.research-container{
    width: fit-content;
    height: auto;
}

.research-container p, .date-container p{
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 0.12rem;
    color: #7e7e7e;
}

.deepmind-words-container, .bodycopy-words-container{
    width: 100%;
    height: auto;
}

.deepmind-words-container p{
    font-size: 1.3rem;
    font-weight: 400;
    color: rgb(69, 69, 69);
    line-height: 1.8rem;
}

.bodycopy-words-container p{
    font-size: 1rem;
    font-weight: 400;
    color: #7e7e7e;
    line-height: 1.8rem;
}

.date-icon-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem 2rem 1.5rem;
}

.date-icon-container-tri, .date-icon-container-one{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.79rem 1.5rem 2rem 1.5rem;
}

.date-container, .icon-container{
    width: fit-content;
    height: auto;
}

.icon-container i{
    color: rgb(45, 114, 223);
    font-size: larger;
}

.background-section-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-image-container{
    width: 100%;
    height: auto;
    background-image: url(./google/pics2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20rem;
    position: relative;
    border-radius: 0.5rem;
}

.background-words-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    position: absolute;
    padding: 18rem 20rem 7rem 20rem;
}

.discover-container{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 1rem;
}

.discover-container p{
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 0.12rem;
    color: white;
}

.discover-container h1{
    font-size: 3rem;
    font-weight: 400;
    color: white;
    line-height: 3.7rem;
    text-align: center;
}

.bodycopii-container{
    width: fit-content;
    height: auto;
    padding: 0 0 6rem 0;
}

.bodycopii-container p{
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: normal;
    color: white;
}

.mid-section-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 3.5rem;
    padding: 1rem 5rem 5rem 5rem;
}

.tech-cont-btn-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 2rem;
    padding: 0 17rem 0 17rem;
}

.tech-cont-btn-container h1{
    font-size: 3rem;
    color: rgb(62, 62, 62);
    font-weight: 400;
}

.tech-cont-btn-container p{
    font-size: 1.5rem;
    color: #7e7e7e;
    font-weight: 400;
    text-align: center;
}

.thumbnails-midSection{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    column-gap: 3rem;
    overflow: hidden;
    flex-wrap: wrap;
    row-gap: 3rem;
}

.thumbnailX-container, .thumbnailY-container, .thumbnailZ-container, .thumbnailC-container, .thumbnailD-container, .thumbnailE-container{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1.7rem;
    border: 1px solid rgba(168, 168, 168, 0.436);
    border-radius: 0.5rem;
    background-color: white;
}

.thumbnailX-container:hover, .thumbnailZ-container:hover, .thumbnailC-container:hover{
    box-shadow: 1px 1px 2.5px rgba(52, 52, 52, 0.347);
    cursor: pointer;
}

.thumbnailY-container:hover, .thumbnailD-container:hover, .thumbnailE-container:hover, .thumbnail-last-container:hover{
    box-shadow: 1px 1px 2.5px rgba(52, 52, 52, 0.347);
    cursor: pointer;
}

.image-container-first{
    width: 100%;
    height: auto;
    background-image: url(./google/pics11.png);
    padding: 6rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.5rem 0.5rem 0 0;
}

.image-container-second{
    width: 100%;
    height: auto;
    background-image: url(./google/pics5.png);
    padding: 6rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.5rem 0.5rem 0 0;
}

.image-container-third{
    width: 100%;
    height: auto;
    background-image: url(./google/pics7.png);
    padding: 6rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.5rem 0.5rem 0 0;
}

.image-container-fourth{
    width: 100%;
    height: auto;
    background-image: url(./google/pics3.png);
    padding: 6rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.5rem 0.5rem 0 0;
}

.image-container-fifth{
    width: 100%;
    height: auto;
    background-image: url(./google/pics10.png);
    padding: 6rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.5rem 0.5rem 0 0;
}

.image-container-sixth{
    width: 100%;
    height: auto;
    background-image: url(./google/pics8.png);
    padding: 6rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.5rem 0.5rem 0 0;
}

.date-icon-container-x, .date-icon-container-c, .date-icon-container-y{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 3.5rem 1.9rem 2rem 1.5rem;
}

.new-position-icon{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.thumbnail-last-container{
    width: 47%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1.7rem;
    border: 1px solid rgba(168, 168, 168, 0.436);
    border-radius: 0.5rem;
    background-color: white;
}

.image-container-last{
    width: 100%;
    height: auto;
    background-image: url(./google/pics4.png);
    padding: 6rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.5rem 0.5rem 0 0;
}

.image-container-secondLast{
    width: 100%;
    height: auto;
    background-image: url(./google/pics12.png);
    padding: 6rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.5rem 0.5rem 0 0;
}

.words-many-logos-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    column-gap: 6.5rem;
}

.explore-container{
    width: 30%;
    height: auto;
}

.explore-container h1{
    font-size: 2.5rem;
    color: rgb(62, 62, 62);
    font-weight: 400;
}

.logos-brands-container{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 0.5rem;
}

.logo-brand-icon-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #a8a8a8;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #f7f7f7;
}

.logoGoogle-container{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 0.6rem;
}

.logoGoogle-container i{
    font-size: larger;
    color: #7e7e7e;
}

.logoGoogle-container p{
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(69, 69, 69);
    /* line-height: 1.8rem; */
}

.logo-brand-icon-container:hover{
    /* box-shadow: 1px 1px 2.5px rgb(45, 114, 223); */
    cursor: pointer;
    border: 3px solid rgb(45, 114, 223);
}

.footer-section-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
    background-color: #f7f7f7;
    padding: 1rem 5rem 3rem 5rem;
}

.social-media-footer-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 0.8rem;
    padding: 1.5rem 0 1rem 0;
}

.social-media-footer-container p{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(69, 69, 69);
}

.social-media-footer-container i{
    font-size: 1.7rem;
    color: #7e7e7e;
    padding: 0.8rem;
}

.social-media-footer-container i:hover{
    border-radius: 100000000000000rem;
    background-color: rgba(126, 126, 126, 0.082);
    cursor: pointer;
}

.middle-footer-section-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    border-top: 1px solid #7e7e7e;
    border-bottom: 1px solid #7e7e7e;
}

.about-learnMore-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    column-gap: 10rem;
    padding: 2.5rem 0 2.5rem 0;
}

.about-containers, .learnmore-container{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
}

.about-containers h1, .learnmore-container h1, .first-part-form-container h1{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(55, 55, 55);
}

.about-containers p, .learnmore-container p{
    font-size: 1.1rem;
    font-weight: 500;
    color: #949494;
}

.about-containers p:hover, .learnmore-container p:hover{
    cursor: pointer;
    color: rgb(55, 55, 55);
}

.linkss{
    text-decoration: none;
}

.signup-form-container{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    /* row-gap: 2rem; */
    padding: 2.5rem 0 2.5rem 0;
}

.first-part-form-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
}

form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1.1rem;
    position: relative;
    /* border: 1px solid #7e7e7e;
    border-radius: 0.5rem;
    padding: 1rem 10rem 1rem 1rem; */
}

.msg-icon-container{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    /* column-gap: 2rem; */
}

.msg-icon-container i{
    font-size: 1.3rem;
    color: #7e7e7e;
    position: absolute;
    left: -4px;
    top: 50%;
    transform: translateY(-247%);
    padding: 0.8rem 0 0.8rem 1.5rem;
}

input{
    width: 100%;
    height: auto;
    border: 1px solid #7e7e7e;
    border-radius: 0.3rem;
    padding: 1.3rem 11rem 1.3rem 3rem;
    transition: instant;
}

input::placeholder{
    font-size: 1.1rem;
    font-weight: 400;
    color: #949494;
}

/* It must be hover styling before focus styling, or else the result will muddle up */
input:hover{
    border: 1.5px solid #4c4c4c;
}

input:focus{
    border: 3px solid rgb(45, 114, 223);
    outline: none;
}

.first-part-form-container p{
    font-size: 1.1rem;
    font-weight: 400;
    color: #7d7d7d;
    text-align: left;
    padding: 0 0 2rem 0;
}

a{
    color: inherit;
}

.last-footer-section-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 3rem;
    padding: 1.6rem 0 0 0;
}

.google-logo-word-container{
    width: fit-content;
    height: auto;
}

.google-logo-word-container h1{
    font-size: 1.3rem;
    font-weight: 500;
    color: #949494;
}

.google-logo-word-container h1:hover, .others-containerss p:hover{
    cursor: pointer;
    color: rgb(55, 55, 55);
}

.others-containerss{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 1rem;
}

.others-containerss p{
    font-size: 1.1rem;
    font-weight: 500;
    color: #949494;
}